@import '../styles/breakpoints.scss';

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.avatar {
  background-color: #d4f5f5;
  border: 2px solid #747578;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 110px;
  overflow-y: auto;
  padding: 16px;

  @include respond-to('small') {
    margin-left: 200px;
  }
}

.footer {
  align-items: center;
  background-color: #d4f5f5;
  color: #747578;
  display: flex;
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  height: 60px;
  justify-content: center;
  padding: 16px;
}

.footerText {
  animation: fade-in-out 3s linear infinite;
}

.header {
  align-items: center;
  background-color: #93b7be;
  color: #554348;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  justify-content: space-between;
  min-height: 60px;
  padding: 16px;
  text-transform: uppercase;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100vh;
  min-height: 100vh;
}

.maxWidth {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.sidebar {
  background-color: #8c9a9e;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  position: absolute;
  top: 60px;
  width: 110px;

  a {
    color: #d4f5f5;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      font-weight: 700;
    }

    span {
      display: none;
    }

    &[data-status='active'] {
      font-weight: 700;

      span {
        display: inline;
      }
    }
  }

  @include respond-to('small') {
    width: 200px;
  }
}
